.mainContainer {
  display: flex;
  height: calc(100vh - 100px);
  flex-wrap: wrap;
  padding: 50px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.mainLink {
  display: block;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 15px 25px;
  border-radius: 5px;
  transition: background-color 400ms ease, color 400ms ease;
  margin-bottom: 500px;
}

@media screen and (min-width: 768px) {
  .mainContainer {
    display: flex;
    gap: 50px;
    width: 100%;
    max-width: 900px;
  }

  .mainLink:hover {
    background-color: #fff;
    color: #000;
  }
}
