.mainContainer,
.sectionArticle,
.sectionContainer {
  display: flex;
  flex-direction: column;
}

.sectionArticle {
  gap: 20px;
}

.sectionP {
  font-size: 1.2em;
}

.sectionSpan {
  font-weight: 800;
}

.mainLink {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 15px 25px;
  border-radius: 5px;
  transition: background-color 400ms ease, color 400ms ease;
}

.mainContainer {
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  gap: 150px;
}

.mainTitle {
  font-size: 2.5rem;
}

.sectionContainer {
  justify-content: center;
  align-items: center;
  gap: 50px;
}

@media screen and (min-width: 600px) {
  .mainContainer {
    gap: 150px;
  }

  .mainTitle {
    font-size: 5rem;
  }

  .sectionContainer {
    flex-direction: row;
    gap: 250px;
  }

  .mainLink:hover {
    background-color: #fff;
    color: #111;
  }
}
