html {
  font-family: system-ui, -apple-system, sans-serif;
}

.mainContainer,
.sectionArticle {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.mainTitle {
  font-size: 5rem;
}

.sectionContainer {
  display: flex;
  gap: 250px;
}

.sectionArticle {
  gap: 20px;
}

.sectionP {
  font-size: 1.2em;
}

.sectionSpan {
  font-weight: 800;
}

.mainLink {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 15px 25px;
  border-radius: 5px;
  transition: background-color 400ms ease, color 400ms ease;
}

.mainLink:hover {
  background-color: #fff;
  color: #111;
}
